* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}



.doctorScreen{
  
  width: 100%;
  height: 100vh;
}

.time .root{
  font-size: x-small;
}

.time .react-timekeeper__clock-wrapper {
  background: red;
}